/*
* @Author: 10261
* @Date:   2017-03-06 13:52:05
* @Last Modified by:   10261
* @Last Modified time: 2017-03-06 15:55:32
*/
#friendListBox {
	width: 0;
	height: 100%;
	position: relative;
	float: left;
	z-index: 1;
	overflow: hidden;
	color: black;
	text-align: center;
	float: left;
	transition: width 1s;
	background: linear-gradient(to bottom, #09e7ed, #f7e7f2);
}
#me {
	width: 100%;
	height: 80px;
	position: relative;
}
#mePic {
	width: 80px;
	height: 80px;
	position: relative;
	float: left;
}
#mePic img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px;
}
#meNickname {
	width: calc(100% - 80px);
	height: 80px;
	vertical-align: middle;
	line-height: 80px;
	font-size: 25px;
	text-align: center;
}
#friendChoice {
	width: 100%;
	height: calc(100% - 80px);
	position: relative;
}
.fd {
	width: 40%;
	height: 40px;
	position: relative;
	margin-left: 4%;
	margin-right: 4%;
	font-size: 20px;
	color: #333;
	vertical-align: middle;
	line-height: 40px;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 5px;
}
.fd:hover {
	background: #fff;
	color: #fa7e1c;
}
.fd:active {
	text-indent: 4px;
}
#myFan, #myIdol {
	display: none;
}
#myBox {
	width: 100%;
	position: absolute;
	left: 0;
	right: 50;
	top: 130px;
	bottom: 10px;
	overflow: hidden;
}
#myBox ul {
	width: 200%;
	height: 100%;
	margin-left: 0;
	position: relative;
	transition: margin-left 1s;
}
#myFan:checked ~ #myBox ul {
	margin-left: -350px;
}
#myIdol:checked ~ #myBox ul {
	margin-left: 0px;
}
.myFed {
	width: 50%;
	height: 100%;
	float: left;
	overflow-x: hidden;
	overflow-y: hidden;
}
::scrollbar {
  width: 10px;
  display: none;
}

::scrollbar-track {
  border-radius: 10px;
  background-color: #18C9F6;
  border: 1px solid #fff;
}

::scrollbar-thumb {
  border-radius: 10px;
  background-color: #185FF6;
}
.friend {
	width: 100%;
	height: 60px;
	border-top: 1px dashed #333;
	border-bottom: 1px dashed #333;
	position: relative;
}
.friend:hover {
	background: #fff;
}
.friendPic {
	width: 80px;
	height: 60px;
	float: left;
}
.friendPic img {
	position: absolute;
	top: 10px;
	left: 20px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.friendNickname {
	width: calc(100% - 60px);
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	font-size: 25px;
}